

ion-content {
  --ion-background-color:#D9AFD9;
  --background: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}

.welcome{
  display: flex;
  padding: 3rem;
  margin: 0 auto;

  align-items: center;
  justify-content: center;
  gap: 2.5rem;


}
.welcome ion-img{
  width: 40%;
  padding: 1.7rem;

  @media all and (min-width: 900px){
    width: 20%;
    padding: 3rem;
  }
}


.welcome h1{
  width: 60%;
  padding: 1rem, 0, 1rem, 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: pink;
  text-shadow: 1px 1px 2px pink, 0 0 1em blue, 0 0 0.2em rgba(0, 0, 255, 0.363);

  @media all and (min-width: 900px){
    width: 80%;
    font-size: 3rem;
    padding: 4rem;

  }
}

.text{
  font-size: 1.4rem;
  margin-top: 1rem;
  @media all and (min-width: 900px){
    font-size: 3rem;
  }

}

.button{
  text-transform: capitalize;
  padding-top: 5rem;

}

.characters-img{
  width: 80%;
  margin: 0 auto;

  @media all and (min-width: 900px){
    width: 40%;
  }

}



.container{
  @media all and (min-width: 900px){
    display: flex;
    align-items: center;
    justify-content: space-around;

  }
}

.text-container{
  @media all and (min-width: 900px){
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}




