<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/tabs/characters"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!isLoading" class="ion-text-center ion-margin"
      >Get to know {{character.name}}</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center" *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ion-grid class="ion-no-pading" *ngIf="!isLoading">
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="ion-no-padding">
        <ion-title class="ion-text-center ion-padding"
          >{{character.name}}</ion-title
        >
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-col size-sm="6" offset-sm="3" class="ion-no-padding">
        <ion-img [src]="character.imageUrl"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="character.films ">
      <ion-col size-sm="6" offset-sm="3" class="ion-no-padding">
        <p>You can see me in films like: {{character.films}}</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="character.shortFilms">
      <ion-col size-sm="6" offset-sm="3" class="ion-no-padding"
        ><p>In shorter ones like: {{character.shortFilms}}</p></ion-col
      >
    </ion-row>
    <ion-row *ngIf="character.tvShows">
      <ion-col size-sm="6" offset-sm="3" class="ion-no-padding">
        <p>Also on Tv series such as: {{character.tvShows}}</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="character.videoGames">
      <ion-col size-sm="6" offset-sm="3" class="ion-no-padding">
        <p>Play with me in: {{character.videoGames}}</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="character.parkAttractions">
      <ion-col size-sm="6" offset-sm="3" class="ion-no-padding">
        <p>Or find me at DisneyLand in: {{character.parkAttractions}}</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="character.allies">
      <ion-col size-sm="6" offset-sm="3" class="ion-no-padding">
        <p>My best friend are: {{character.allies}}</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="character.enemies">
      <ion-col size-sm="6" offset-sm="3" class="ion-no-padding">
        <p>And my enemies are: {{character.enemies}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
