<ion-app>
  <ion-menu side="start" menuId="m1" contentId="m1">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title> Disney Land</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-menu-toggle>
        <ion-list>
          <ion-item lines="none" routerLink="/tabs/characters" button>
            <ion-icon
              name="sparkles-outline"
              slot="start"
              color="primary"
            ></ion-icon>
            <ion-label>Disney Characters</ion-label>
          </ion-item>
          <ion-item lines="none" routerLink="/tabs/your-characters" button>
            <ion-icon
              slot="start"
              name="accessibility-outline"
              color="secondary"
            ></ion-icon>
            <ion-label>Your Characters</ion-label>
          </ion-item>
          <ion-item lines="none" button>
            <ion-icon name="exit" slot="start" color="tertiary"></ion-icon>
            <ion-label>Log out</ion-label>
          </ion-item>
        </ion-list>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main id="m1"></ion-router-outlet>
</ion-app>
