
  ion-content {
    --background: url(../../../assets/background2.jpg) no-repeat center center / cover ;
  }


  ion-title{
    font-weight: bolder;
    font-size: 1.5rem;
    color: #fff;
  }
